body{
    margin: 0;
    padding: 0;
}
header{
    height: 70px;
    width: 100%;
    background-color: bisque;
    position: fixed;
    top: 0;
    left: 0;
}

.sub{
    height: 150px;
    width: 100%;
    background-color: aquamarine;
    margin-top: 70px
}
.list{
    margin-left: 50px;

}
td,th{
    border: 1px solid black;
}
table{
    border-collapse: collapse;
}
.form{
    margin-left: 50px;
}